@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
}

p{
    margin: 0;
    padding: 0;
}

.pos{
    padding-top: 3rem;
    padding-left: 3rem;
    text-align: center;
}

div{
    width: 20%;
    height: 32%;
    margin-right: -4px;
    margin-bottom: -4px;
}

a{
    color: white;
    text-decoration: none;
}

.contour{
    background-color: #d0d0d0;
    width: 58%;
    height: 515px;
    padding: 20px;
    margin-left: 5%;
    margin-top: 3%;
}

.phrase{
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}

.titre{
    padding-bottom: 1rem;
    font-size: 18px;
    font-weight: bold;
}

.lien1, .lien2{
    border: 1px solid white;
    padding: 0.5rem;
    font-weight: bold;
}

.bas{
    padding-bottom: 1.5rem;
}

.text{
    background-color: #35bc7a;
    display: inline-block;
    width: 33%;
    height: 27%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 35px;
    overflow: hidden;
}

.profil{
    background-color: #ff9e00;
    display: inline-block;
    overflow: hidden;
}

.experience{
    background-color: #1e8bc4;
    display: inline-block;
    overflow: hidden;
}

.education{
    background-color: #f15a49;
    display: inline-block;
    overflow: hidden;
}

.blog{
    background-color: #35bc7a;
    display: inline-block;
    overflow: hidden;
}

.socialMenu{
    background-color: #f86925;
    display: inline-block;
    overflow: hidden;
}

.contact{
    background-color: #1e8bc4;
    display: inline-block;
    overflow: hidden;
}

.portefolio{
    background-color: #f86925;
    display: inline-block;
    overflow: hidden;
}

.photo{
    display: inline-block;
    position: relative;
    right: 3%;
    float: right;
}

i.fas.fa-address-card, i.fas.fa-desktop, i.fas.fa-battery-three-quarters,
i.fas.fa-book, i.far.fa-edit, i.fas.fa-plus, i.fas.fa-paper-plane{
    font-size: 55px;
}